name: CI
on:
  push:
    branches:
      - master
      - release-*
  pull_request:
  workflow_dispatch:
env:
  DOTNET_NOLOGO: true
defaults:
  run:
    shell: pwsh
jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            name: Windows
          - os: ubuntu-latest
            name: Linux
      fail-fast: false
    steps:
      - name: Check for AWS_ACCESS_KEY_ID
        env:
          SECRETS_AVAILABLE: ${{ secrets.AWS_ACCESS_KEY_ID }}
        run: echo $(If ($env:AWS_ACCESS_KEY_ID -eq 'true') { "AWS_ACCESS_KEY_ID available" } Else { "NO AWS_ACCESS_KEY_ID available" })
      - name: Check for AWS_ACCESS_KEY_ID
        env:
          SECRETS_AVAILABLE: ${{ secrets.AWS_REGION }}
        run: echo $(If ($env:AWS_REGION -eq 'true') { "AWS_REGION available" } Else { "NO AWS_REGION available" })
      - name: Check for AWS_SECRET_ACCESS_KEY
        env:
          SECRETS_AVAILABLE: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: echo $(If ($env:AWS_SECRET_ACCESS_KEY -eq 'true') { "AWS_SECRET_ACCESS_KEY available" } Else { "NO AWS_SECRET_ACCESS_KEY available" })
      
